
/* src/css/custom.css */

/* ===== Tema claro ===== */
:root {
  --ifm-color-primary: #0f766e;           /* verde-água */
  --ifm-color-primary-dark: #0b5f59;
  --ifm-color-primary-darker: #0a5450;
  --ifm-color-primary-darkest: #083f3c;
  --ifm-color-primary-light: #139b92;
  --ifm-color-primary-lighter: #17b3a9;
  --ifm-color-primary-lightest: #34d6cc;

  --ifm-navbar-background-color: #ffffff;
  --ifm-navbar-link-color: #1f2937;       /* texto da navbar */
  --ifm-link-color: var(--ifm-color-primary);

  /* Botões, alertas, etc. */
  --ifm-button-border-radius: 8px;
}

/* ===== Tema escuro ===== */
[data-theme='dark'] {
  --ifm-color-primary: #22d3ee;           /* ciano claro */
  --ifm-navbar-background-color: #0b1220;
  --ifm-navbar-link-color: #e5e7eb;
}